#number-projects-nd {
    font-size: 60px;
}

#total-donations-nd {
    font-size: 60px;
}

.dc-chart g.row text {
    fill: black;
    font-size: 12px;
}

.dc-chart .grid-line {
    fill: none;
    stroke: #ccc;
    opacity: .5;
    shape-rendering: crispEdges;
}

/* Style the buttons that are used to open and close the accordion panel */
div.accordion {
    background-color: #ccebff;
    color: #666;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #4db8ff;
    color: #fff;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 0px;
    background-color: white;
    display: none;
}

/* Workaround for entry container: Move to the left to achieve symmetry with other boxes. */
#entry_row {
    margin-left:0px;
}

/* Style div containing upload buttons. */
#fileupload_container {
    display: block;
    margin: 0 auto;
    width: 200px;
    margin-top: 200px;
}

/* Hide file input button. */
/* https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/ */
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

/* Center text in upload label. */
#upload_label {
    text-align: center;
}

/* Style file input label. */
/* https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/ */
.inputfile + label {
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

#title_icon {
    margin-right: 7px;
}

/* Shamelessly hacking CSS for keen.io. */
#categoryContainer {
    padding-right: 5px;
}

#monthlyBalanceContainer {
    padding-left: 5px;
    padding-right: 5px;
}

/* Styling search field. */
.searchContainer {
    float: right;
    position: relative;
}

#transactionSearch {
    cursor: text;
    margin-top: 10px;
    border-radius: 5px;
    display: block;
}

#searchIcon {
    position: absolute;
    top: 15px;
    right: 5px;
}

/* Title icon. */
#title_icon {
    margin-top: -3px;
}