<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Link to stylesheet.
    <link rel="stylesheet" href="style.css">
    -->

    <title>camo</title>
    <link rel="stylesheet" href="./static/lib/css//bootstrap.min.css">
    <link rel="stylesheet" href="./static/lib/css/keen-dashboards.css">
    <link rel="stylesheet" href="./static/lib/css/dc.css">
    <link rel="stylesheet" href="./static/css/custom.css">

    <link rel="icon"
      type="image/png"
      href="./static/img/icon.png">
    </head>
</head>

<body class="application">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="./"><img src="./static/img/icon.png" id='title_icon' alt="Cashflow Monitor" width="20">Cashflow Monitor | 1.5</a>
          </div>
        </div>
    </div>

    <div id="fileupload_container">
        <form id = "uploadbanner" method = "post" enctype="multipart/form-data" action = "upload">
            <input type="file" name="file" id="file" onchange="this.form.submit()" class="inputfile" action="#"/>
            <label for="file" id="upload_label">
                <img src="./static/img/spreadsheet.png" alt="Mountain View" width="50">
                <br/>Upload spreadsheet
            </label>
        </form>
    </div>

    <script src="./static/lib/js/jquery.min.js"></script>
    <script src="./static/lib/js/bootstrap.min.js"></script>
    <script src="./static/lib/js/queue.js"></script>
    <script src="./static/lib/js/keen.min.js"></script>

</body>
</html>